.news:hover {
  background: transparent !important;
}
.t-new > p.title{
    color: #777 !important;
    font-size: 1.3em !important;
}
.t-new > p.title:hover{
    color: #1c84b5 !important;
    font-size: 1.3em !important;
}
.news{
	box-shadow: 0px 0px 0px 0px;
}
